.homepage {
  display: flex;
  flex-flow: column;
  padding: 1rem;
  margin-bottom: auto;
}

.search {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: column;
  padding: 1rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.buttons button {
  margin-left: 1rem;
}

.list {
  display: flex;
  flex-flow: row;
}

.title {
  text-align: left;
}

.error {
  color: #e43c3f;
  font-size: 15px;
}

.homepage .title {
  display: flex;
  align-items: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.homepage .title .movie-icon {
  margin-right: 0.5rem;
}

.homepage .app-bar {
  background-color: #303542;
  margin-bottom: 1rem;
}

.homepage .app-bar-sun {
  background-color: white;
  margin-bottom: 1rem;
}

.homepage .moon {
  color: #f2bd2c;
}

.homepage .sun {
  color: #1e8feb;
}
.homepage .night {
  color: #aab6bb;
}

.homepage .toolbar {
  display: flex;
  align-self: flex-end;
}
