.movie_container-desktop {
  margin-right: 2rem;
  padding-top: 1rem;
}

.movie_container {
  width: 100%;
}
.movie_container-title {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  align-items: center;
}

.sms-icon {
  margin-right: 0.5rem;
  color: #282c34;
}

.paper .banner-completed {
  color: #3eb52d;
}

.paper .banner {
  color: #282c34;
  margin: 0;
}
.movie_container-title .search-icon {
  margin-right: 0.5rem;
}
