.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-day {
  background-color: #daebfd;
}
.App-night {
  background-color: #282c34;
}

.App-night :is(h1, h2, h3, h4, h5, h6) {
  color: #edeef2;
}

.App-night .MuiPaper-root {
  background-color: #f8f3e6;
}

.App-day .MuiPaper-root {
  background-color: white;
}
